<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s BOOK's!</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Book Type</th>
                </tr>                
                <tr data-th-each="book : ${books}">
                    <td data-th-text="${book.id}"></td>
                    <td data-th-text="${book.title}"></td>
                    <td data-th-text="${book.bookType}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add BOOK<br />
        <form data-th-action="@{/books/add}" name="addBookForm" method="post">
            Title: <input type="text" name="title" /><br />
            Book Type:<br />
            <input type="radio" name="bookType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="bookType" value="Management" /> Management<br />
            <input type="radio" name="bookType" value="Novel" /> Novel<br />
            <input type="radio" name="bookType" value="Art" /> Art<br />
            <input type="submit" value="Add Book"/>
        </form>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>